aiogram>=3.0.0
fastapi>=0.128.7
uvicorn
sqlalchemy[asyncio]>=2.0.45
asyncpg
python-dotenv>=1.0.1
beautifulsoup4>=4.13.3
aiohttp>=3.13.3
apscheduler>=3.10.4
psutil>=7.2.1
future>=1.0.0
bs4>=0.0.2
sqladmin>=0.23.0
starlette>=0.52.1